.wrapper {
  position: fixed;
  pointer-events: none;
  left: 0;
  top: 0;
  height: 100%;
  z-index: 100;
}

.box {
  position: relative;
  display: none;
  height: 32px;
  align-items: center;
  color: var(--color-neutral-600);

  &.visible {
    display: flex;
  }

  &.selected,
  &.hovered {
    color: var(--body);
  }
}

.multiple {
  position: absolute;
  top: 0;
  right: -32px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 18px;
  width: 28px;
  border-radius: 4px;
  color: #fff;
  background-color: var(--color-accent-primary);
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  padding-top: 1px;

  &::before {
    content: '+';
    margin-top: -1px;
    margin-left: -1px;
  }
}

:global(.dark) {
  .box {
    color: var(--color-neutral-400);
  }
}
